<h3>ESTADISTICAS</h3>
<ul>
	<li>N&uacute;mero de Quizes: <%= datos.numQuizes %>
	<li>N&uacute;mero de Quizes Comentados: <%= datos.numQuizesComentados %>
	<li>N&uacute;mero de Quizes Sin Comentarios: <%= datos.numQuizesNoCommentados %>
	<li>Media de Comentarios por Pregunta: <%= (datos.numComentarios / datos.numQuizes) %>
	<li>N&uacute;mero de Comentarios Totales: <%= datos.numComentarios %>
	<li>N&uacute;mero de Comentarios No Publicados: <%= datos.numComentariosNoPublicados %>
</ul>

<p><a href="/quizes"> Inicio </a></p>